[2018-01-03 22:25] Sherlouk opened #5 "Consider partnering with IBAnalyzer"
I've recently come to see your tool as well as [IBAnalyzer](https://github.com/fastred/IBAnalyzer) and I feel there could be quite a powerful library coming out of the these two tools being combined?

Regardless of a partnership or matching functionality, I feel the features would definitely compliment one another and provide a one-stop spot for normalising and detecting issues with interface file

[2018-01-05 12:25] rbniranjanharman opened #6 ".iblinter.yml is not working properly"
Thanks for creating wonderful tools. it is very help for managing tre the storyboard and xib.

I am trying to use this tools into my project and successfully added this tools. But I want to disable some rules as you have described in description.  But When I tried to use .yml file it is not working. I am attaching .yml file in attachement. for testing I have added all rule under disable category b

[2018-01-05 13:35] kateinoigakukun commented on #6
This problem is coursed by YAML mapping error for null value.
https://github.com/kateinoigakukun/IBLinter/blob/a0a71b6127ce6edb48c3bc2a65c1c0d032dd9497/Sources/IBLinterKit/Config.swift#L33-L35

Your `.iblinter.yml` file set `null` to `enabled_rules`.
So IBLinter failed to map configuration file and use default configuration.

https://github.com/kateinoigakukun/IBLinter/blob/a0a71b6127ce6edb48c3bc2

[2018-01-05 14:10] kateinoigakukun commented on #6
Fixed 🎉

[2018-01-05 14:10] #6 closed

[2018-01-05 14:13] Sherlouk opened #8 "JSON Reporter"
Currently it seems the only reporter pattern is internal to Xcode, it would be super helpful for third party services if we could have a JSON reporter swappable by passing a `reporter` parameter to the command?

This could follow a similar pattern to SwiftLint, where we would get access to the severity, file, and reason!

[2018-01-05 15:27] kateinoigakukun commented on #8
That's exactly what I was thinking.
I'll implement this feature. 🙆

[2018-01-13 10:08] Sherlouk opened #10 "Console Reporter"
Similar to #8, another reporter type would be a simple console output! With this I'd love to see support for ANSI colors (with the option to turn them off using `--no-ansi` for console's that don't support it!) and maybe using emojis to indicate errors/warnings

Would also be sweet with this reporter in particular, if we could get a more "live" output where it tells you what file it's linting as i

[2018-01-15 08:39] Sherlouk opened #11 "Resource Not Found"
Xibs have an array called `resources` which contains things like images, would be nice to get the asset folders and check if the resource can be found (throwing an error if it can't)

[2018-01-15 14:09] kateinoigakukun commented on #11
I have never faced with `resources` error in xib. Was this error happened when you edit `xib` file in Interface builder without text editor?

[2018-01-15 14:13] Sherlouk commented on #11
Sorry I clearly explained it poorly, what I mean is we create a new rule which checks that all the resources are available

It's currently possible for you to add a UIImageView into a xib, and set the image to something that doesn't exist. Xcode handles this by showing a placeholder 'X' image!

What I'm suggesting is we add a rule which detects all of these situations where a xib references an ima

[2018-01-15 14:16] kateinoigakukun commented on #11
It looks so useful! 👍

[2018-01-21 19:11] alakoring opened #13 "How to begin?"
I hope this isn’t snarky, but how am I supposed to use this? There is no brew command on my machine…

(Yes I am vaguely aware that there is a thing called brew but I just want to try your tool. I’ve been using IB for many years but am obviously not plugged into the open source community.)

I’d love to see a beginner-friendly intro.

[2018-01-22 00:31] kateinoigakukun commented on #13
I've created PR for documentation.
https://github.com/kateinoigakukun/IBLinter/pull/14

Do you have any questions or advice for change?

[2018-01-22 00:49] alakoring commented on #13
Thank you! Hard to know, since I don’t have brew. At least a link to what it is? (Best from my standpoint is just something I can download and run, without having to worry about a zillion dependencies and learn how to manage them. Is it actually possible  to just get a standalone project and run it?)

[2018-01-22 06:51] #13 closed

[2018-01-22 10:22] sirnacnud opened #15 "Crash with XML parsing error"
I tried linting a project and the tool crashes with the below error. The XIB file it is failing on is part of CocoaLumberjack and can be found [here](https://github.com/CocoaLumberjack/CocoaLumberjack/blob/master/Framework/FmwkTest/en.lproj/MainMenu.xib).

[code]

[2018-01-22 18:29] alakoring opened #16 "Crash analyzing CocoaLumberjack"
My project uses CocoaLumberjack https://github.com/CocoaLumberjack/CocoaLumberjack

When I try to lint, I get a fatal error

[code]

[2018-01-22 18:35] alakoring commented on #16
Oh,  #15 looks like the same issue.

[2018-01-22 18:40] alakoring opened #17 "Error for custom class seems incorrect"
My storyboard has been working just fine but IBLinter reports

[code]

I assume it is suggesting the name of the file. I don’t understand why you can’t have multiple UIViewController subclasses in a storyboard.

[2018-01-22 18:43] alakoring commented on #17
I guess I should read the documentation! But, `custom_class_name` seems like a bad default, and it makes no sense when there are multiple controllers.

[2018-01-23 09:49] kateinoigakukun commented on #15
Thank you for your report.

This error is seemed to be caused by `AppKit xib`. IBLinter only targets `UIKit xib`.
So I'll make PR to skip `AppKit xib` file.

[2018-01-23 10:07] kateinoigakukun commented on #17
I forgot to consider multiple view controllers. 😱
I'll change to ignore `custom_class_name` when there are multiple view controllers.
But in my opinion, `custom_class_name` should be default rule. Generally it is not recommended that file name and custom class name do not match.

[2018-01-23 22:48] alakoring commented on #17
Fair enough. (I have a lot of  .xib files that don’t match the class, for good reasons, but they are views not view controllers.)

[2018-01-23 23:10] alakoring commented on #16
Closing as duplicate.

[2018-01-23 23:10] #16 closed

[2018-01-24 16:26] piotr-tobolski commented on #15
Nope, I was getting this error when using UIKit xib. But it was very old file saved in some old Xcode format. Just entering this xib and saving it fixed this issue (and changed almost everything in this file). I am working in an old project and this xib dates probably back to iOS 6 and wasn't touched since. This is just table view cell with empty view and some constraints: [EmptyTableViewCell.xib.

[2018-01-25 09:32] alper commented on #17
Please change this, it is I think more the exception to have only one UIViewController per Storyboard than it is the rule.

[2018-01-26 17:20] alakoring commented on #17
It now handles multiple view controllers (i.e. a storyboard with segues to view controllers within the same file). So my original report is handled, thanks!

I get errors for

`CocoaLumberjack-master/Framework/iOSLibStaticTest/Base.lproj/Main.storyboard::: error: custom class name 'ViewController' should be 'Main'`

which seems a bit aggressive — isn’t `Main.storyboard` a pretty common convention?

[2018-01-26 17:21] alakoring commented on #15
My #16 is fixed now.

[2018-01-29 00:26] #15 closed

[2018-01-31 23:33] AFcgi opened #23 "Cocoapods-Support?"
There are any efforts to integrate IBLinter via Cocoapods?

[2018-02-02 07:14] pertau opened #24 "XML Element Error on first try / after installation"
Hi,
i tried the IBLinter installation via homebrew. No errors during installation, running
[code]
I get this output:

[code]

[2018-02-02 07:19] #24 closed

[2018-02-04 19:52] R0cKET commented on #23
+1

[2018-02-05 23:19] AFcgi commented on #23
@R0cKET I have published pull request https://github.com/kateinoigakukun/IBLinter/pull/25 which support IBLinter via cocoapods.

[2018-02-05 23:19] #23 closed

[2018-02-08 07:04] kateinoigakukun opened #26 "Use Codable"

[2018-02-08 07:04] #17 closed

[2018-02-11 19:41] piobyz opened #27 "Default installation of IBLinter"
Hi!
I like the idea behind IBLinter very much (the same as SwiftLint) and I'd like to contribute to it.

1. I think it lacks ability to check which rules are enabled by default (programmatically or at least in a form of documentation, the same as in SwiftLint). Maybe a good default would be to include all rules, right now there are not a lot of them.
2. Also, I'd like to be able to set a particula

[2018-02-11 19:44] Sherlouk commented on #27
I can answer point four for you, this is a pattern with Swift Package Manager - As you'll see with the gitignore they supply (https://github.com/apple/swift-package-manager/blob/master/.gitignore) and the one within the repo the xcodeproj is ignored (I'm not too sure on the exact reason for this though)

You can generate one for yourself using `swift package generate-xcodeproj`

[2018-02-12 23:39] kateinoigakukun commented on #27
@piobyz

1. I agree that opinion to create documentation of rule. But it needs maintenance tools like https://github.com/danger/danger at least, and I have little time to install such tools 😢. For default rule, I think some of rules should not be included. (ex. RelativeToMarginRule) Default rules should be known as common in iOS developers, and rules which depend on local community should not be i

[2018-02-13 11:42] piobyz commented on #5
I totally agree with @Sherlouk regarding partnership.
Especially because @fastred replied https://github.com/fastred/IBAnalyzer/issues/32
Is this something @kateinoigakukun you would be interested in?

Another idea: why not integrating all IB-related rules into SwiftLint itself?
@kateinoigakukun Have you considered that option? Is there any interest in SwiftLint community?

[2018-03-08 22:24] SD10 commented on #26
Did you have any thoughts on how to achieve this?

I tried converting the XML to JSON to use Codable but its too much trouble to create lossless or nicely formatted JSON. I'm trying to create a framework very similar to `IBLinterCore`.

[2018-03-09 05:42] SD10 commented on #5
I would be interested in this 😃

[2018-03-09 16:21] kateinoigakukun commented on #26
@SD10 Now, `IBLinterCore` is decoded by string literal key which is not safe way ☠️. For this reason, I would like to decode xml by `CodingKeys` which is generated automatically.
Your idea that converting XML to JSON looks toooo much trouble because of difference of structure between XML and JSON (ex. XML has attributes).
I tried to implement `XMLDecoder` as `Decoder` protocol but it is unable to

[2018-03-09 16:53] kateinoigakukun commented on #5
@piobyz Thanks for contact with @fastred.

I worry about performance for using `SourceKitten` which is also used in `SwiftLint`. So considering performance, integrating into `SwiftLint` is interested! But that changes will may be broke both `IBLinter` and `SwiftLint` architecture. And `IBLinterCore` doesn't parse completely xml, so can't extract all IB connection.

For these reasons, we need to ar

[2018-03-09 17:50] SD10 commented on #5
@kateinoigakukun

It shouldn't be too difficult to parse the IB connections in `IBLinterCore`? We just need to model them and then implement the decoding methods.

I haven't dug into `SourceKitten` yet, so I'm unaware of the performance implications, but we should try and keep these components as separate as possible.

In my opinion, it would be really great if we could extract `IBLinterCore` into

[2018-03-09 17:54] SD10 commented on #26
You're right 😂

@kateinoigakukun Don't worry, I understand what you mean. I spent many days trying to turn the XML into Swift data models so I've run into a lot of the same problems you have had to deal with.

`CodingKeys` is a good idea. Even a simple namespace with static properties would do well.

[2018-03-10 15:24] kateinoigakukun commented on #5
I can't figure out how to model all IB connection keeping connection owner's id with `IBLinterCore` decoding protocol 😢. (I tried but not good implementation https://github.com/kateinoigakukun/IBLinter/pull/9)
Could you implement the decoding methods or tell me how it works?

I agree. When your this PR https://github.com/kateinoigakukun/IBLinter/pull/30 is finished, we can separate project! 🙌

[2018-03-10 16:06] SD10 commented on #5
@kateinoigakukun I will look at decoding outlets. I think that something we need to do is every time we see an `id` while parsing, we store it in a dictionary that maps to the view.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-11 19:46] SD10 commented on #26
@kateinoigakukun If you want I can look into using `CodingKeys` for a safer API?

[2018-03-12 00:21] SD10 opened #31 "Make decoding less specific"
I noticed that on some models we explicitly decode things like `textColor` for `Label` or `titleColor` for `Button`.

I think we should take a simpler approach and just store these things in an array of `Color` objects.

Then we can provide a computed property for a user to access a color with a given key like this:
[code]

This is because it will be really difficult to decode all different key ty

[2018-03-12 02:15] SD10 opened #32 "Allow users to disable rules by filename"
In SwiftLint you can disable rules through comments in the source code. This is a little more difficult for storyboards. It would be nice to allow users to turn of specific rules for certain files

[2018-03-12 21:14] SD10 opened #33 "Make all properties of IBLinterCore models optional"
Currently, if a non-optional value does not exist the XML decoding fails.

I think this is a drawback because it doesn't allow you to investigate the structural integrity of the XML. For example, you can't ever write rules that determine if a required key is missing. Maybe someone corrupted the XML through a merge conflict.

This is also a concern for `Boolean` properties. If the value doesn't exi

[2018-03-12 21:24] SD10 opened #34 "Rule: View with gesture recognizers / controls has user interaction enabled"
A common mistake is to have some sort of control or gesture recognizer as a subview of view and not have `isUserInteractionEnabled` set to true. (frequently on `UImageView`)

[2018-03-13 07:30] kateinoigakukun commented on #26
@SD10 I'm implementing `decoder` now in this branch https://github.com/kateinoigakukun/IBLinter/tree/use_codingkeys

[2018-03-13 08:54] SD10 commented on #26
@kateinoigakukun Looking great!

[2018-03-13 10:52] #26 closed

[2018-03-22 21:59] SD10 opened #37 "Allow users to define valid UserRuntimeAttributes"
At [IBAnimatable](https://github.com/IBAnimatable/IBAnimatable) we have a ton of UIKit subclasses with `@IBInspectable` properties. Some of these are `String`'s and can be very error prone to work with.

Example:
The [border property](https://github.com/IBAnimatable/IBAnimatable/blob/master/Documentation/APIs.md#borderdesignable) accepts a `String` of either: `solid` or `dash`

If the user writes

[2018-03-22 23:09] kateinoigakukun commented on #37
The idea which validates runtime attributes looks good. But if all valid keys and classes definitions make  `.iblinter.yml`

[2018-03-22 23:15] SD10 commented on #5
@kateinoigakukun I understand what you mean by this now. This bothers me too. I wonder if some change can be made to SwiftLint to allow it to share the results of SourceKitten parsing with IBLinter?

[2018-03-22 23:34] kateinoigakukun commented on #5
@SD10 Thank you for digging.
Even now  `SwiftLint` saves parse results as cache. But using this cache is not recommended.
I wonder if there were the layer to parse`Swift` AST and save the result in shared file which were used by  `SwiftLint` and  `IBLinter`.

[2018-03-23 00:20] SD10 commented on #5
Yeah, I was thinking of this. Maybe `SwiftLint` could provide the `AST` in a temp file. Then we could check if there is data inside this file, if not, parse ourselves. It would require opening an issue at `SwiftLint` and asking them what they can do.

[2018-04-01 05:44] SD10 opened #38 "Replace IBLinterCore with IBDecodable"
The goal is to replace IBLinterCore with [IBDecodable](https://github.com/IBDecodable/IBDecodable). Going to have the free time to tackle this one soon 💪

[2018-04-09 10:11] phimage commented on #37
decoding UserRuntimeAttributes https://github.com/IBDecodable/IBDecodable/pull/5

I am interested with this feature. I am thinking about generating the file using sourcery if @IBInspectable annotation is accessible.
_Each framework must provide its own file._

[2018-04-09 10:14] phimage commented on #33
For boolean properties I make some dirty code to have `true`as default value

[code]

I think this issue could be moved to IBDecodable if we achieve this #38

[2018-04-09 16:13] SD10 commented on #33
Yeah @phimage I wanted your advice on this one. I think making everything optional is the way to go. Let me know what you think.

[2018-04-09 16:16] SD10 commented on #31
I'm fine with this. You know a lot more about Storyboard XML than I do. My only concern was:

If it is not an array then we will miss some things if they do exist or if the XML changes in the future. Still, if you are sure there will only ever be 1 string, I think we can leave it.

[2018-04-20 04:04] phimage commented on #8
@kateinoigakukun I see you are working on it
I start too at the same time ;'(

[2018-04-20 04:05] phimage commented on #10
In development as EmojiReporter

[2018-04-20 04:43] phimage commented on #38
I will do it
I have already make locally the change

Just waiting on other PR merging to not create conflict

[2018-04-20 07:54] SD10 commented on #10
Yes sorry @phimage 😓

[2018-04-20 07:56] #8 closed

[2018-04-20 07:56] SD10 commented on #38
@phimage Do you need me to do this? I was planning on working on IBLinter this weekend

[2018-04-21 07:42] #10 closed

[2018-04-21 17:24] phimage commented on #33
This issue was moved to IBDecodable/IBDecodable#25

[2018-04-21 17:24] #33 closed

[2018-04-21 17:26] phimage commented on #31
This issue was moved to IBDecodable/IBDecodable#26

[2018-04-21 17:26] #31 closed

[2018-04-21 23:55] #38 closed

[2018-04-24 08:58] bojan opened #45 "Homebrew tap is not found"
The Homebrew tap (https://github.com/IBDecodable/homebrew-tap/) mentioned in the instructions can not be found.

The brew command output is:
[code]

[2018-04-25 08:54] kateinoigakukun commented on #45
I'm sorry, I've created tap repository https://github.com/IBDecodable/homebrew-tap/
Would you try it again?

[2018-04-25 09:38] bojan commented on #45
It works now! Thanks!

[2018-04-25 10:43] #45 closed

[2018-05-16 08:29] bonyadmitr opened #48 "There is warning when installed by pods"
There is warning when installed by pods:
warning: no rule to process file '/Users/.../XcodeProjects/ScriptsTest/Pods/IBLinter/bin/iblinter' of type compiled.mach-o.executable for architecture x86_64

Also I see that IBLinter hierarchy is not as swiftlint or swiftgen.
Maybe that's why there is that warning.
![image](https://user-images.githubusercontent.com/24361363/40105527-df401a3c-58fb-11e8-8194

[2018-05-16 09:14] bonyadmitr commented on #48
podspec files examples

IBLinter
https://github.com/IBDecodable/IBLinter/blob/master/IBLinter.podspec
  s.source         = { :git => "https://github.com/IBDecodable/IBLinter.git", :tag => s.version }
  s.preserve_paths = 'bin/*'

SwiftGen
https://github.com/SwiftGen/SwiftGen/blob/master/SwiftGen.podspec
  s.source = { http: "https://github.com/SwiftGen/SwiftGen/releases/download/#{s.version}/swift

[2018-05-16 13:56] Dahlgren commented on #48
Fixed with #28

[2018-05-16 14:04] bonyadmitr commented on #48
@Dahlgren
But it is not fixed in current pod version

![image](https://user-images.githubusercontent.com/24361363/40121736-f1d71392-592a-11e8-9b90-cf794fd70224.png)

[2018-05-16 14:13] Dahlgren commented on #48
Correct, there hasn’t been a new release yet

[2018-05-16 14:16] bonyadmitr commented on #48
@Dahlgren
Oh. When do you plan to do it?

[2018-05-16 14:30] Dahlgren commented on #48
No idea, I'm just a contributor :)

[2018-05-16 15:49] bonyadmitr commented on #48
@Dahlgren
Sorry, didn't check it. Thank you!

Ok. I will leave it open until pod update.

[2018-05-17 00:12] #11 closed

[2018-05-17 08:45] phimage commented on #48
@bonyadmitr no release for a little fix. will be one for new rules I think.
But you can with Cocoapod have the head master code by adding in Podfile the git and the branch for instance, or a specific commit hash

[2018-05-17 08:45] #48 closed

[2018-05-24 12:42] ManWithBear opened #49 "Reasoning behind relative_to_margin rule"
Can you please describe why you created such rule and what's wrong with that? `relative_to_margin`

[2018-05-25 10:41] kateinoigakukun commented on #49
I created `relative_to_margin` rule to force not to use `Relative to margin` in interface builder.
`Relative to margin` option is only used in IB and this occurs discrepancies between the specified number and displayed margin.

<img width="750" alt="2018-05-25 19 40 54" src="https://user-images.githubusercontent.com/11702759/40540589-a049727e-6053-11e8-914c-6027fe0303b3.png">

[2018-05-25 22:16] ManWithBear commented on #49
Actually it's bad practise, since by using [layoutMargins](https://developer.apple.com/documentation/uikit/uiview/1622566-layoutmargins) and `relative to margins` you have better flexibility and control over margins in app.

[2018-05-26 05:36] kateinoigakukun commented on #49
I understand what you mean, but in my dev team case we take it seriously to avoid discrepancies between the specified number and displayed margin.
I made this as rule non-default rule because I know it's not common. I'm planning to implement plugin function and move `relative_to_margin` to external plugin.

[2018-06-28 18:06] #49 closed

[2018-08-21 18:49] stevemoser opened #53 "Error: ibdecodable/tap/iblinter 0.4.2 did not build"
` /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.13.sdk/usr/include/libxml2/module.modulemap:1:8: error: redefinition of module 'libxml2'
  19 module libxml2 [system] [extern_c] {   `

`==> Configuration
HOMEBREW_VERSION: 1.7.2
ORIGIN: https://github.com/Homebrew/brew
HEAD: b119591c6963bff320501f52f9029e4862c00e97
Last commit: 20 hours ago
Core tap ORI

[2018-08-22 04:28] kateinoigakukun commented on #53
Sorry. I've added `libxml2` dependency.
https://github.com/IBDecodable/homebrew-tap/commit/9ea3d852f6b64d16bf3699db57b1d529772fb42c
Please try again!

[2018-08-22 17:56] stevemoser commented on #53
@kateinoigakukun It works! Thanks!

[2018-08-22 17:56] #53 closed

[2018-09-26 10:13] acevif opened #55 "Fatal error : Failed to update packages"
Hello,

I've experienced this error when I run `iblinter` installed with CocoaPods from the command line.

Is this expected behavior?

[code]

my environment:
- iblinter : 0.4.2
- Xcode: 10 (10.0)
- swift: Apple Swift version 4.2 (swiftlang-1000.11.37.1 clang-1000.11.45.1) Target: x86_64-apple-darwin17.7.0

Any help would be highly appreciated.

Thanks.

---
Postscript

I've noticed this error occ

[2018-09-26 11:09] tarunon opened #56 "Add linting about`ambiguous`"
Thanks nice software! We hope to use it in our proj.
Sometimes we told this things while code reviewing,
"Hey guys, there are `ambiguous = YES` here, is it ok?"
"Not ok, thanks"

I think that is awesome if we can find it while compile time. 👍

[2018-09-26 13:10] kateinoigakukun commented on #55
I’m sincerely sorry. This happened by using Swift 4.2. Swift doesn’t have ABI stability yet. Therefore `libIBLinter.dylib` used for IBLinter runtime can’t work with Swift4.2 because it’s compiled by Swift4.1. The plugin feature was too early and will be removed before long.
If you don’t need custom rule, simply remove your IBLinterFile.swift to work out. In the case you need custom rule, please fo

[2018-10-02 07:03] acevif commented on #55
@kateinoigakukun Thanks kateinoigakukun-san.

It looks like custom rules and plugins are too early for me.
I will use built-in rules for the time being.

Thank you very much for your nice tool.

[2018-10-02 14:28] kateinoigakukun commented on #56
Implemented in https://github.com/IBDecodable/IBLinter/pull/57  🎉

[2018-10-02 14:28] #56 closed

[2018-10-04 18:50] igorkulman opened #60 "Brew installation problem"
Trying to install from brew using `brew install IBDecodable/homebrew-tap/iblinter` I am getting

[code]

Xcode command line tools are installed.

[2018-10-10 02:28] kateinoigakukun commented on #60
@igorkulman  You can install after execute `xcode-select --install` 👍

[2018-10-29 13:03] Speakus opened #76 "unable to run from Xcode 10"
when I try to run `Pods/IBLinter/bin/iblinter` I got error:

module compiled with Swift 4.1.2 cannot be imported by the Swift 4.2 compiler: IBLinter.swiftmodule

[2018-10-30 04:19] kateinoigakukun commented on #76
Related this issue. :bow: https://github.com/IBDecodable/IBLinter/issues/55#issuecomment-424709084

[2018-11-21 11:20] acevif opened #77 "No such file or directory with 0.4.9"
Hello,

After I upgraded from 0.4.4 to 0.4.9, errors like below occured:

***path-to-my-repository***/***path-to-xib-file***::: error: ic_avatar not found
***path-to-my-repository***/***path-to-storyboard-file***::: error: bg_home not found
(snip)

How can I fix it?

Thank you in advance.

---
P.S.

In 0.4.8, no errors occurred.

Thanks.

[2018-11-21 12:02] kateinoigakukun commented on #77
Sorry, I forgot to release a version that fixes this bug. 😥
I'm preparing to publish next version. Please wait a few moments.

[2018-11-21 12:19] kateinoigakukun commented on #77
@acevif Could you try again with new version https://github.com/IBDecodable/IBLinter/releases/tag/0.4.10

[2018-11-21 14:04] acevif commented on #77
家庭の医学 @kateinoigakukun さま

Thanks for the extremely quick update!
It works fine now!

Thank you!

🙇

[2018-11-21 14:04] #77 closed

[2019-01-17 08:26] igorkulman opened #81 "Config included behavior"
Running the tool with `.iblinter.yml`

[code]

The tool also accesses different locations that are outside the Scenarios folder, like the Carthage folder. I would expect the tool to only traverse the path in the `included` list, same as SwiftLint.

[2019-01-25 08:53] viktorasl commented on #37
How about having a rule, similar to `custom_module_rule` which would take as a param list of files where each `IBInspectable` will provide valid values in a comment.
Since IBLiner already has `SourceKitten` as a dependency it (probably?) can be done.

[code]

[code]

[2019-02-14 15:18] #55 closed

[2019-02-14 15:18] #76 closed

[2019-02-14 15:18] #60 closed

[2019-02-28 13:44] #81 closed

[2019-03-01 14:53] kateinoigakukun opened #83 "Mark error as warning"
Using @ IBDesignable, Interfaces Builder in Xcode10 adds `ambiguous=YES` even AutoLayout constraints are valid because IB is very fragile. We need an option to mark error as warning.

[2019-03-01 15:01] kateinoigakukun commented on #83
Or I'm planning to ignore linting while `COMPILED_FOR_INTERFACE_BUILDER` is set.

[2019-03-06 01:45] kateinoigakukun commented on #83
I found `OTHER_SWIFT_FLAGS` is passed every `Run Script` phases, so I can extract `COMPILED_FOR_INTERFACE_BUILDER`!

[2019-03-12 04:14] #83 closed

[2019-03-31 00:47] #27 closed

[2019-04-02 11:14] nysander opened #90 "add reporting in XML checkstyle format"
as this project is inspired by Swiftlint - it could be easily integrated into Jenkins CI with Warnings NG Plugin when using checkstyle XML report export.

Is it possible to add this to IBLinter?

[2019-04-02 11:35] kateinoigakukun commented on #90
Yes, it's possible!
 I don't know `warning ng plugin` well. So if you have a time, would you implement CheckstyleReporter in IBLinterKit?
It just to implement like [JSONReporter.swift](https://github.com/IBDecodable/IBLinter/blob/master/Sources/IBLinterKit/Reporters/JSONReporter.swift) and add swich case in https://github.com/IBDecodable/IBLinter/blob/master/Sources/IBLinterKit/Reporters/Reporter.

[2019-04-02 12:32] nysander commented on #90
I'm a bit newbe in swift world so I am not sure if I manage to do it. I will look at swiftlint sources if this can be aplied some way here

[2019-04-02 12:52] nysander opened #91 "IBLinter 0.4.13 not available via CocoaPods"
as for today, version 0.4.13 is not available on cocoa pods repository.

unable to update

[2019-04-02 14:18] kateinoigakukun commented on #91
Sorry, I forgot releasing 0.4.13 😅 . Now it's available via both Homebrew and CocoaPods.

[2019-04-02 14:18] #91 closed

[2019-04-03 15:05] nysander commented on #90
Merged

[2019-04-03 15:05] #90 closed

[2019-04-03 21:04] nysander opened #93 "IBLinter 0.4.14 is broken"
after installing via cocoa pods:

xcode 10.2 / swift 5

[code]
reverted to 0.4.13 and it works

[2019-04-04 07:03] kateinoigakukun commented on #93
@nysander Umm..., I can't reproduce the error. Which OS version do you use?

[2019-04-04 07:41] nysander commented on #93
Mojave

[2019-04-04 17:58] nysander commented on #93
it looks like IBLinter run through Build Phase in Workspace gives this error:

[code]

[code]

[2019-04-04 18:04] nysander commented on #93
same if I run Test job directly in Xcode:

[code]

[2019-04-07 13:00] nysander commented on #93
@kateinoigakukun did you managed to reproduce this error? Any additional data I can provide to fix this?

[2019-04-08 00:32] kateinoigakukun commented on #93
@nysander Sorry for late response and I couldn't take enough time to investigate this issue. I'll work on it this week.

[2019-04-11 15:48] mjmsmith commented on #93
@nysander I got the same error with Xcode 10.2 on 10.14.3, it works fine on Xcode 10.2 with 10.14.4.

To fix it on 10.14.3, you need to install "Swift Runtime Support for Command Line Tools" from https://developer.apple.com/download/more/

[2019-04-11 15:57] nysander commented on #93
As far as i know I have installed commandline tools because my jenkins setup depends on them. But I will check it later today

[2019-04-11 20:47] nysander commented on #93
@mjmsmith thanks for hint. I didn't have this runtime. Now it works ok.

@kateinoigakukun I think this should be added to documentation as not everyone runs bleeding edge versions of macOS. If you want I could prepare some doc PR in meantime.

[2019-04-11 20:48] #93 closed

[2019-05-09 21:00] nysander commented on #90
@kateinoigakukun just little report. 2 days ago new version of Jenkins' Warnings NG plugin was released and today I've made first test ... result below :)

Happy to have your linter in my setup

![image](https://user-images.githubusercontent.com/753327/57486045-82bf6200-72ad-11e9-8a70-d7beecc111e7.png)

[2019-05-28 04:27] mgrebenets opened #103 "High Sierra support"
Hi there.

It appears that SwiftLint is build using Swift 5, which requires Xcode 10.2 and above as well as Mac OS X Mojave and above.

Not everyone can move that fast :) and our CI is still on High Sierra (unfortunately).
It's unfortunate that we can't use IBLinter on High Sierra.

How much of the code is Swift 5 specific?
Would it be a huge effort to make the tool compile with Swift 4.2 (Xcode 1

[2019-05-28 04:46] kateinoigakukun commented on #103
@mgrebenets Sorry for the inconvenience.  It seems same issue as https://github.com/IBDecodable/IBLinter/issues/93#issuecomment-482170933 🤔
Please try to install `Swift 5 Runtime Support for Command Line Tools` from https://developer.apple.com/download/more/

I'll note this on README.md

[2019-05-28 06:13] mgrebenets commented on #103
Thank you.
Confirmed that after installing Swift 5 runtime I can run `iblinter` downloaded from Releases page 👍

I can't install it with Homebrew though, but that's not a big deal.
HOmebrew tries to build from source on High Sierra, but maybe it should install same portable version from a bottle instead? And maybe even install Swift 5 runtime or display a post-install message saying that runtime n

[2019-05-28 06:13] #103 closed

[2019-05-30 01:02] mgrebenets opened #104 "Crash while trying to parse WatchKit app storyboard"
Hi there

We've got one WatchKit app storyboard, that seems to cause trouble for IBLinter and causes it to crash.

The error is this:

The storyboard renders in Xcode properly, I've checked it with `xmllint` and it reported no errors.
I can't even find a key called "archived" inside storyboard XML file 🤔

not sure what's the root cause.

Out of curiosity, I've removed everything from the storyboar

[2019-05-30 01:08] mgrebenets opened #105 "Using --path option ignores the root folder config file"
Hi there

So I'm facing the issue which is actually very common for all other linters and formatters, such as SwiftLint and SwiftFormat.

I've created a file called `.iblinter.yml` in my project root folder, and I choose to ignore all storyboards in `Example/Storyboards` path.

[code]

This all works as expected if I just run `iblinter` in the root folder.

But, if I use `--path` option, e.g. `ibl

[2019-05-30 17:38] phimage commented on #105
there is no "project root"
there si current path, or paths given by options

so yes adding  --config is a good feature
but the path in "excluded" must relative to this config file parent folder or the --path, that is the question!

[2019-05-30 17:43] phimage commented on #104
watch os are not supported but must be skipped
the expected error thrown by IBDecodable
https://github.com/IBDecodable/IBDecodable/blob/e9b642b6e8e1dc77ae9f139286197cd5bde754f0/Sources/Parsers/InterfaceBuilderParser.swift#L74

the decoding
https://github.com/IBDecodable/IBDecodable/blob/e9b642b6e8e1dc77ae9f139286197cd5bde754f0/Sources/Parsers/InterfaceBuilderParser.swift#L23

[2019-05-30 23:07] mgrebenets commented on #105
I agree with the points, there's no such thing as root folder.

I personally like `rubocop` behavior more, where exclude paths are relative to the _location of the config file_, and not to the location specified by `--path` option.

Regardless, it would be nice to have `--config` option that behaves same way the SwiftLint's `--config` option behaves.

I've changed the title to make this a feature

[2019-05-30 23:11] mgrebenets commented on #104
I see, so all IBLinter users should ignore WatchKit storyboards then...

Just curious, instead of crashing, could IBLinter display a warning saying "WatchKit storyboards are not supported" or just skip them silently?
I guess any kind of warning would be better than the crash.

I've spend some time digging into our WatchKit storyboard trying to understand where exactly it is broken.

[2019-06-01 07:51] phimage commented on #104
the issue is for any malformed xml as I see (like empty one from test)

We receive a not converted/catched IndexingError from XML decoding library
XML Element Error: Incorrect key ["archive"]

error thrown by
https://github.com/IBDecodable/IBDecodable/blob/e9b642b6e8e1dc77ae9f139286197cd5bde754f0/Sources/Parsers/InterfaceBuilderParser.swift#L67

[2019-06-02 04:40] mgrebenets commented on #104
The XML in question is WatchKit storyboard. I couldn’t paste the full version. Will try to create fresh WatchKit storyboard instead and see if it still causes same issue.

Other than that the XML that I have renders properly in interface builder and lints fine with xmllint tool.

[2019-06-02 18:12] phimage commented on #104
I make I think the necessary change in IBDecodable project

A violation must be created from `Error.xmlError` and no more fatalError
when new version of IBDecodable will be integrated here

[2019-06-03 07:31] phimage commented on #105
`--config` is now merged, but not released (need to fix the bug about watchkit before)

[2019-06-03 09:59] #104 closed

[2019-06-03 10:03] phimage commented on #105
@mgrebenets could you test new option --config
if you know how to compile (we use SPM)

I am wondering how rules path must be managed, according to "--path" so the files must contains
[code]
and not
[code]

[2019-06-03 10:07] phimage commented on #105
I make some test swift swiftlint on this project which defined `- Sources`

[code]

So he look files according to "--path" option, the working directory

[2019-06-04 05:55] mgrebenets commented on #104
Tested just now, I get the warning now

Which is much better than a crash from before 👍

[2019-06-04 06:50] mgrebenets commented on #105
What I get with the tests is this:

The storyboard I want to ignore is `Apps/MyApp/WatchKitApp/Shared/Base.lproj/Interface.storyboard`
So I put this in my `.iblinter.yml`:

[code]

When running from the location of the config:

[code]

The file gets ignored as expected.

When running like so:

[code]

the file is linted.

I think this is how SwiftLint is behaving.

Overall, the main reason I wante

[2019-06-04 09:23] phimage commented on #105
So we could do better than swiftlint by making an other option in command or in configuration file, to specify that file path are relative to configuration file, and not working directory
But I have no time for this, if someone want to do it ;)

[2019-09-19 02:19] sidepelican opened #113 "Randomly fails when the same name classes exists in two modules"
### Example
- ModuleA and ModuleB have some classes like below.

[code]

- `AwesomeView` using `XXXView` in ModuleA.

In this case, IBLinter fails randomly with this message.
`- [ ] aaa/bbb/ccc/AwesomeView.xib#L0: It does not match custom module rule in AwesomeView. Custom module of XXXView is ModuleB`

Maybe this is caused by ↓

https://github.com/IBDecodable/IBLinter/blob/0bcc377d427faa21b2ebcea

[2019-09-19 05:27] kateinoigakukun commented on #113
@sidepelican Could you try this branch? https://github.com/IBDecodable/IBLinter/pull/114

[2019-09-19 07:53] sidepelican commented on #113
@kateinoigakukun
Thank you the fast implementation.

I tried in my project and it wasn't fine.
But I cannot analyze because of confused error message ( https://github.com/IBDecodable/IBLinter/pull/114#discussion_r326033539 ).   Please fix it first ?

[2019-09-19 14:24] sidepelican commented on #113
https://github.com/IBDecodable/IBLinter/pull/114#issuecomment-533154652

[2019-09-19 14:39] #113 closed

[2019-09-20 01:16] shosokawa opened #119 "IBLinter 0.4.18 cannot be installed via CocoaPods for ios platform"
We have updated `IBLinter` to `0.4.18` on `Podfile`, then we got this error at when it runs `pod install`.
```[!] The platform of the target `Pods` (iOS 11.0) is not compatible with `IBLinter (0.4.18)`, which does not support `ios`.```

We have set up our project as it runs `IBLinter` installed via `CocoaPods` with [the reference](https://github.com/IBDecodable/IBLinter#xcode).

I think that [this

[2019-09-20 01:52] kateinoigakukun commented on #119
Sorry for confusion, I'll release hotfix version.
But 0.4.18 only contains a minor bug fix, so you may be able to use 0.4.17,

[2019-09-20 01:57] shosokawa commented on #119
Thank you for your quick response!
We will use `0.4.17`.

[2019-09-20 02:45] #119 closed

[2019-11-03 19:13] grantneufeld commented on #32
iirc, SwiftLint’s config file is based on RuboCop. In RuboCop, file-level exclusions are handled in the config yml file like:
[code]
In that example, the “Metrics/BlockLength” rule would not be run on the “my_big_class.rb” file.

So, for IBLinter, you might end up with something like this in your `.iblinter.yml` file:
[code]

[2019-11-15 11:13] sidepelican opened #127 "Cannot detect incorrect target module at .xib in main bundle"
Minimum example.
[IBLintTest.zip](https://github.com/IBDecodable/IBLinter/files/3851188/IBLintTest.zip)

<img width="263" alt="スクリーンショット 2019-11-15 20 10 15" src="https://user-images.githubusercontent.com/19257572/68939427-f35ab480-07e3-11ea-891f-001b2c36bb87.png">

`MyView` in `MyView.xib` references `IBLintTest` as custom module but the correct module target is `ModuleA` so this app crashes on r

[2019-11-15 13:50] phimage commented on #127
Make a github project instead of zip, it easier for us.
You can provide a link to the line in xib where the issue is. etc.

Did you try to configure `custom_module_rule`? (I have never do it myself)

---

Why MyView.xib is not in ModuleA with its code? using `Bundle(for: MyViewUsingViewController.self)` instead of `.main`

This is not an issue in xib only.
To detect issue like that, your pbxproj m

[2019-11-19 12:41] phimage opened #128 "brew install hang (use source) -> missing iblinter-0.4.20.mojave.bottle.tar.gz"
I use iblinter in github workflow/action
2 minutes to install
So I look to the log and see that there is no iblinter-0.4.20.mojave.bottle.tar.gz attached for this release
https://github.com/IBDecodable/IBLinter/releases/tag/0.4.20
[code]

So how to build it?
Maybe https://github.com/IBDecodable/IBLinter/blob/master/.github/workflows/artifact.yml#L40
and the workflow failed here https://github.com/

[2019-11-19 21:06] grantneufeld opened #129 "image_resources rule fails when using SF Symbols"
The `image_resources` rule triggers a build failure when using icons from the SF Symbols built-in for iOS 13.

For example, I have a fresh “Tabbed App” where I replace the “Image” attribute of the “Bar Item” component of a “Tab Bar Item” with `doc.on.doc.fill` (one of the built-in SF Symbols icons). IBLinter then reports the image as missing when I have `image_resources` as one of the `enabled_rul

[2019-11-21 09:25] #128 closed

[2019-12-23 02:26] sidepelican commented on #127
Sorry, I'm not much interested in this now.

[2019-12-23 02:26] #127 closed

[2019-12-23 21:09] adcloeshelle opened #133 "Dynamically specify the files to lint"
It would be great to have a mechanism like SwiftLint to specify the specific files to lint on the command line. The use case is we only want to lint the .xib files that have changes as opposed to every .xib file in our directory.

[2019-12-28 16:23] #129 closed

[2020-01-20 08:08] r-plus opened #136 "How about reuseIdentifier rule?"
Hi

How about new rule to check UITableViewCell, UICollectionReusableView, MKAnnotationView and UITableViewHeaderFooterView reuseIdentifier same as class name similar to `storyboard_viewcontroller_id`?

[2020-01-20 12:59] kateinoigakukun commented on #136
Thanks. It seems very useful!

[2020-01-20 13:30] r-plus commented on #136
Thanks! I’ll continue work to add this rule except MKAnnotationView and UITableViewHeaderFooterView that looks like IBDecodable not yet supported as concrete type.

[2020-01-22 05:33] #136 closed

[2020-02-03 22:10] HonzaMac opened #143 "New Dynamic fonts rule"
In our code base, we would like to encourage developers to use [Dynamic Fonts](https://developer.apple.com/documentation/uikit/uifont/scaling_fonts_automatically) (change size based on user preference).

This can be found in xib file as node:
`<fontDescription key="fontDescription" type="system" pointSize="15"/>`
can be replace by
`<fontDescription key="fontDescription" style="UICTFontTextStyleSub

[2020-02-03 22:11] HonzaMac commented on #143
FYI:
There could be similar approach for custom swiftLint:
[code]

[2020-02-19 23:56] mfernandez94 opened #144 "Use base class but for colors?"
Is there currently a way to have something like use_base_class, where you can specify colors that should be used?

[2020-02-20 18:20] mfernandez94 opened #145 "Run Script"
What would be the correct runscript phase if installed via pods after forking this repo? Forking seems to remove the unix executable "iblinter" and throwing a path no found

[2020-02-21 10:29] phimage commented on #144
you want to be more restrictive than colors present in assets?
there is a color asset rules, which check named colors

[2020-02-21 19:43] mfernandez94 commented on #144
More restrictive in that I only want colors in assets to be used, so things such as a custom color, system color or any other named or unnamed are not used. So I guess the better question is would it be possible to check named as well as unnamed colors?

[2020-02-22 02:20] kateinoigakukun commented on #145
As README.md says, you can run iblinter via `"${PODS_ROOT}/IBLinter/bin/iblinter"`

https://github.com/IBDecodable/IBLinter#xcode

[2020-02-22 02:20] #145 closed

[2020-02-22 02:33] mfernandez94 commented on #145
Yes, but I’m having an issue of when I fork the repo "${PODS_ROOT}/IBLinter/bin/iblinter" is no longer there, and get a run script error the it can’t be found

[2020-02-22 02:41] kateinoigakukun commented on #145
I guess you didn't release your changed version of IBLinter to install via CocoaPods. The iblinter binary is  prebuilt on CI and uploaded to GitHub release page.

[2020-02-28 07:54] emelyanovkirill opened #150 "CocoaPods problem"
If IBLinter was installed as pod, an empty line is displayed instead of warnings and errors.
If IBLinter was installed as brew, it shows warnings and errors.

[2020-02-28 07:57] emelyanovkirill commented on #150
I use Swift 5

[2020-02-28 09:02] kateinoigakukun commented on #150
@emelyanovkirill Thanks for your report!
What's your IBLinter version? and is there any error message from IBLinter?

[2020-02-28 14:54] emelyanovkirill commented on #150
pod linter version: 0.4.21
brew linter version: 0.4.22

No, build script successful for both linter.

[2020-02-28 14:57] kateinoigakukun commented on #150
OK, could you try to remove cache data in `~/Library/Caches/iblinter/` ?

[2020-02-28 15:31] emelyanovkirill commented on #150
Thanks

[2020-02-28 15:31] #150 closed

[2020-04-08 04:20] topLayoutGuide opened #153 "Respect `verifyAmbiguity` Storyboard setting."
If you configure a `UIScrollView` on a XIB or Storyboard file to not verify its ambiguity, IBLinter will still trigger errors saying that the Auto Layout constraints are invalid.

You can find this setting in the Storyboard XML `<scrollView verifyAmbiguity="off" ...>`

This would be useful for when you configure the scroll view contents at runtime, and set up the constraints correctly based on dyn

[2020-04-08 05:29] kateinoigakukun commented on #153
Thanks! I didn't know that setting. I'll support that 👍

[2020-04-25 09:41] #153 closed

[2020-04-25 10:57] shuguenot opened #156 "Broken caching system"
Depending of the generated hash used for storing cache on disk, an error may occur .

Error Domain=NSCocoaErrorDomain Code=4 "The file “wba57NyfgQqd1OIToLN0OA+c0=” doesn’t exist." UserInfo={NSFilePath=/Users/xxxxxxxx/Library/Caches/IBLinter/0.4.22/7/wba57NyfgQqd1OIToLN0OA+c0=, NSUnderlyingError=0x1069e3020 {Error Domain=NSPOSIXErrorDomain Code=2 "No such file or directory"}}
Program ended with exi

[2020-04-25 11:02] kateinoigakukun commented on #156
Thanks for your report. It seems a reasonable workaround. Could you make a PR for the change?

[2020-04-27 09:40] #156 closed

[2020-04-27 10:40] shuguenot opened #158 "Plugin feature seams to be unusable"
Is the (very interesting) plugin feature still available ?

https://github.com/IBDecodable/IBLinter/pull/50

[2020-04-27 11:27] kateinoigakukun commented on #158
The feature is not available since this PR https://github.com/IBDecodable/IBLinter/pull/88 because at that time, Swift doesn't have stable ABI.

Stable ABI has been established since Swift5.0, so in theory we can re-enable the feature. (but I don't have enough time to implement that)

[2021-01-23 17:19] #143 closed

[2021-01-23 17:20] HonzaMac commented on #143
I don't need it anymore.

[2021-05-11 08:36] wata opened #170 "Incorrect warning: duplicate element id"
IBlinter says `SignIn.storyboard:0:0: warning: duplicate element id 9SU-qi-UFm`. But in fact, there is only one element whose id is `9SU-qi-UFm` . Is this the expected behavior?

Version: 0.4.26
Using: Homebrew and CocoaPods - same result for both
.iblinter.yml:
[code]
Search Results for` 9SU-qi-UFm` :
- `<textView clipsSubviews="YES" multipleTouchEnabled="YES" contentMode="scaleToFill" scrollEnab

[2021-05-12 04:46] wata commented on #170
Thanks for checking. It's still a failure for me (Xcode 12.5)
<img width="864" alt="スクリーンショット 2021-05-12 13 43 30" src="https://user-images.githubusercontent.com/519695/117919493-0c381d80-b328-11eb-93de-af7a7e205087.png">

[2021-05-13 03:16] mt-hodaka commented on #170
I’m having same issue and get same result as https://github.com/IBDecodable/IBLinter/issues/170#issuecomment-839429672

[2021-05-24 05:00] kateinoigakukun commented on #170
Hmm, I couldn't reproduce the test failure in my local environment (w/Xcode12.5).

@wata Could you share your storyboard file facing this issue?

[2021-05-24 06:04] phimage commented on #170
I test again, Xcode 12.5, IBDecodable version to 0.4.0 or 0.4.2 and no issue

[2021-05-24 06:43] wata commented on #170
Thanks for your response. This is the actual file.
[SignIn.storyboard.zip](https://github.com/IBDecodable/IBLinter/files/6530322/SignIn.storyboard.zip)

[2021-05-24 06:52] kateinoigakukun commented on #170
@wata Thank you! However I couldn't reproduce the incorrect warning... 😢

What I tried is below. I tried this for master revision and the latest distributed version.
[code]

[2021-05-24 07:23] wata commented on #170
My result:
[code]

[2021-05-24 07:51] kateinoigakukun commented on #170
@wata
OK, I could reproduce this problem with Docker. (yeah, but it's not still reproduced on my macOS 😅 )

I'll investigate this more. Thanks for your report!

[code]

BTW could you tell me your OS version? In different versions of macOS, Swift uses different runtime, so it may be related.

[2021-05-24 07:56] wata commented on #170
Thank you for investigating. My macOS is 11.3 (20E232).

[2021-05-24 09:36] kateinoigakukun commented on #170
I got the reason for this problem.

## Context of Swift changes

Swift 5.4 has a new dynamic-cast implementation rewritten from 5.3's one. This re-implementation includes refactoring and bug fixes, so there are some different behavior from 5.3.
The difference is described in [here](https://github.com/apple/swift/blob/main/docs/DynamicCasting.md#compared-to-swift-53)

According to the document, SR-

[2021-05-24 18:41] phimage commented on #170
well done

PR on IBDecodable merged

[2021-05-25 10:28] #170 closed

[2021-06-17 03:18] angelmic opened #173 "Can not install in macOS Monterey (12.0 21A5248p)"
Try to use `mint install IBDecodable/IBLinter` to install it but failed
error msg:
[code]

Please Help

[2021-06-17 22:02] phimage commented on #173
you do not really install but use a tools that download source and compile the program before installing it

you could download from latest release
https://github.com/IBDecodable/IBLinter/releases/tag/0.4.27 and move it to a location in your PATH

[2021-10-25 09:45] shuguenot opened #174 "Add support for SwiftPM Packages"
https://github.com/phimage/XcodeProjKit/releases

On current version of XcodeProjKit (2.2.0) :
`Thread 1: Fatal error: Unknown isa=XCSwiftPackageProductDependency`

[2021-10-25 10:34] #174 closed, assigned to nobody

[2022-02-06 17:15] #133 closed

[2022-03-23 16:44] mman opened #180 "'Parse XML error XML Element Error: Incorrect key ["archive"]' when analyzing WatchKit storyboards"
I have it integrated as a build step for my iOS app like this:

[code]

And it automatically detects all `.storyboards` and fails with the following errors for the watch kit storyboard.

[code]

[2022-03-24 05:11] phimage commented on #180
Watch storyboard are not supported.

If you have an error with something parsed, please provide it….

Le mercredi 23 mars 2022, Martin Man ***@***.***> a écrit :

[2022-03-28 08:16] mman commented on #180
@phimage I'm fine with WatchKit storyboards not supported, but I do not see a way how to skip/exclude them from the check.

Am I missing something? Is there a way for IBLinter to ignore them?

[2022-03-28 09:35] Adobels opened #182 "Disable Swiftlint rule "Trailing Comma Rule" for "allRules" collection"
Disabling The Swiftlint rule "Trailing Comma Rule" on code level "Rule.swift:24" will simplify the source diff in a code review (one added line instead of one removed line and two added lines) and will mark the "allRules" collection as a collection open for new elements.
I would use the comma where you know you're going to add elements later, and omit it if the list of items is final.

![Capture d

[2022-03-28 10:12] Adobels opened #184 "Reporters should print violation rule identifier"
Violation messages reported by reporters don't include the violation identifier. Once such an identifier is included, it would be easy to identify and disable enabled by default rules in IBLinter.

**IBLinter reporters don't print a violation rule identifier:**

`XXX.xib:0:0: warning: "View as:" should be Unknown device (retina3). Currently it is iPhone XR (retina6_1).`

**Swiftlint reporters prin

[2022-04-02 11:05] #182 closed